/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
	list-style: none;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 5px;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
span.ellipse.clickable {
	cursor: pointer;
}

.ellipse input {
	width: 3em;
}

/*------------------------------------*\
	Compact Theme Styles
\*------------------------------------*/
.compact-theme span {
	cursor:pointer;
}

.compact-theme a, .compact-theme span {
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-left: none;
	min-width: 14px;
	padding: 0 7px;
	background: #efefef; /* Old browsers */
}

.compact-theme a:hover, .compact-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #efefef; /* Old browsers */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
	border-left: 1px solid #AAA;
	border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
	border-radius: 0 3px 3px 0;
}

.compact-theme .current {
	background: #bbbbbb; /* Old browsers */
	cursor: default;
}

.compact-theme .ellipse {
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/
.light-theme span {
	cursor:pointer;
}

div .light-theme a, .light-theme span {float: left;color: #676767!important;font-size: 14px;line-height: 24px;font-weight: normal;text-align: center;border: 1px solid #BBB;min-width: 14px;outline: none!important;padding: 0 7px;margin: 0 5px 0 0;border-radius: 3px;background: #fff;}
div .light-theme a:hover,div .light-theme a:active{outline:!important;box-shadow: none!important;}
.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: #676767;
	color: #FFF!important;
	border-color: #444;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

/*------------------------------------*\
	Dark Theme Styles
\*------------------------------------*/
.dark-theme span {
	cursor:pointer;
}

.dark-theme a, .dark-theme span {
	float: left;
	color: #CCC;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #222;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	background: #555; /* Old browsers */
}

.dark-theme a:hover, .dark-theme li:not(.disabled):not(.active) span:hover {
	text-decoration: none;
	background: #444;
}

.dark-theme .current {
	background: #222;
	color: #FFF;
	border-color: #000;
	cursor: default;
}

.dark-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}

.order_pagination_cont{display: flex;margin: 20px;justify-content: center;}