

.tag-list span{
    color: #0073aa;
    -webkit-transition-property: border,background,color;
    transition-property: border,background,color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
.tag-list span:hover {
    color: #00a0d2;
}