
.icon-check:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-arrows-cw-1:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-check-1:before { content: '\e805'; } /* '' */
.icon-basket-1:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */